.DS_Store
._*
Make

Clover/ACPI/Patched/*
Clover/Kexts/Other/*
Clover/Tools/*
OpenCore/OC/ACPI/*
OpenCore/OC/Kexts/*
Shared/ACPI/*.aml

CLOVERX64.efi
HFSPlus.efi
VirtualSmc.efi
libaistat.dylib
rtcread
smc
smcread

!.gitkeep